[submodule "extern/tvb-library"]
	path = extern/tvb-library
	url = https://github.com/the-virtual-brain/tvb-library
[submodule "extern/tvb-data"]
	path = extern/tvb-data
	url = https://github.com/the-virtual-brain/tvb-data
