# http://conda.pydata.org/docs/travis.html
language: python
os:
  - linux
python:
  - "2.7"
install:
  - sudo apt-get update
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # setup env
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy matplotlib scipy
  - source activate test-environment
  - pip install pytest-cov coveralls h5py
  - pushd extern/tvb-library && python setup.py install && popd
script:
  - COV=yes bash run-tests.sh
after_success:
  - coveralls